$yellow: #e9f50a;
$green: #42f55a;
$red: #eb251e;

@mixin margenes($top, $bottom) {  
  margin-top: $top;
  margin-bottom: $bottom;
}


@mixin espacios($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin colores($value) {  
  color: $value;
}

.jumbotron {
  background-color: $yellow;  
  @include colores(black);
  @include margenes(50px, 0px);
}


footer {
  @include espacios(10px, 10px, 0px, 10px);
  background-color: $green;
  @include margenes(10px, 0px);
}

.card-producto {
  flex: 1 200px;
  @include margenes(10px, 0px); 
}

.boton-comprar {
  width: 100%;
  border-radius: 0px;
  background-color: $red;
  @include colores(white);
}

.footer-address-icon {
  @include espacios(10px, 0px, 0px, 0px);
}

.tab-content {
  @include espacios(10px, 0px, 0px, 0px);
}
