.jumbotron {
  background-color: #e9f50a;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #42f55a;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-producto {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.boton-comprar {
  width: 100%;
  border-radius: 0px;
  background-color: #eb251e;
  color: white; }

.footer-address-icon {
  padding: 10px 0px 0px 0px; }

.tab-content {
  padding: 10px 0px 0px 0px; }
