.jumbotron {
  background-color: #deeb3f;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #deeb3f;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-producto {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.boton-comprar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
